@font-face {
    font-family: QuicksandRegular;
    src: url("../../resources/font/Quicksand-regular.ttf");
}

@font-face {
    font-family: QuicksandBold;
    src: url("../../resources/font/Quicksand-SemiBold.ttf");
}

@font-face {
    font-family: QuicksandLight;
    src: url("../../resources/font/Quicksand-Light.ttf");
}

html {
    width: 100vw !important;
    height: 100vh !important;
    font-family: QuicksandLight;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    html {
        overflow: scroll !important;
    }
}

body {
    color: white !important;
    background-color: #383838 !important;
    background-repeat: no-repeat;
    background-size: cover !important
}

.top {
    transform: scale(0.83);
    margin-top: 10vh;
}

.form {
    transform: scale(0.90);
}

.centerfy {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}

input:focus {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important;
}

label.active {
    color: white !important;
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
    color: white !important;
    font-family: QuicksandLight !important;
    font-size: 20px;
    background-color: transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background-color: transparent !important;
}

form a {
    color: white;
    border-bottom: solid 1px white;
}

.buttonStyled {
    background-color: transparent;
    border-color: white;
    border: solid 1.3px white;
    color: white;
    border-radius: 200px;
    padding: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 25px;
    font-family: QuicksandLight !important;
}

.buttonStyled:active,
.buttonStyled:visited,
.buttonStyled:link,
.buttonStyled:focus,
.buttonStyled:default,
.buttonStyled:visited {
    background-color: transparent !important;
}

.buttonStyled:hover {
    cursor: pointer;
    background-color: transparent !important;
}

form a:hover {
    color: rgb(228, 228, 228);
}

form .button {
    background-color: transparent;
    border-color: white;
    border: solid 1.3px white;
    color: white;
    border-radius: 200px;
    padding: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 25px;
    font-family: QuicksandLight !important;
}

.circle-invert i {
    font-size: 35px;
    color: #383838;
    background-color: white;
    border: solid 1px white;
    border-radius: 90px;
    padding: 10px;
}

footer {
    margin-top: 6vh;
}

footer img {
    margin-left: 15px;
    margin-right: 15px
}

.modal-content {
    color: #383838;
    padding: 5px;
    padding-bottom: 0 !important;
}

.modal-content .container {
    margin: 5vw 5vh;
}

.error-message{
    background-color: red;
    color: white;
    font-size: 14pt;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.6);
}